---
import Button from "./Button.astro";
import Bars from "./Bars.astro";

import svgheroContent from "../assets/hero-content.svg";
import svgRedStar from "../assets/red-star.svg";
import svgIdea from "../assets/idea.svg";
import svgArrow from "../assets/arrow.svg";

import svgPinkStar from "../assets/pink-star.svg";
import svgString from "../assets/string.svg";

import { author, buy } from "../sample";
---

<section class="pb-20 relative animate-fade-in-up">
  <div class="max-w-4xl mx-auto p-4 pt-20 md:pt-30">
    <div class="grid grid-cols-1 md:grid-cols-[60%_40%] items-center">
      <div class="flex flex-col gap-4 pr-0 md:pr-10">
        <h1 class="text-5xl font-medium">
          <span>I turn data<br /> into</span>
          <span class="relative">
            <span
              class="absolute bg-[var(--yellow)] w-full h-[50%] left-0 bottom-0 z-1"
            ></span>
            <span class="relative z-5">insights</span>
          </span>
        </h1>
        <p class="text-xl">
          Data Analyst & Programmer with strong machine learning skills. I help
          organizations make data-driven decisions through advanced analytics,
          visualization, and predictive modeling.
        </p>
        <div class="flex mt-5">
          <Button text="See portfolio" link="/#work" target="_self" />
        </div>
      </div>
      <div class="relative mt-40 md:mt-0">
        <div class="flex absolute -top-20 left-0 z-10">
          <!-- name with smile icon -->
          <div class="flex transform -rotate-30 translate-y-3">
            <span class="uppercase font-black">{author.name}</span>
          </div>

          <img
            src={svgArrow.src}
            width="80"
            class="-translate-x-10"
            alt="arrow icon"
          />
        </div>

        <div class="relative p-8 bg-white">
          <img
            src={svgRedStar.src}
            width="80"
            alt="red-star"
            class="absolute bottom-1 right-1 z-10"
          />
          <img
            src={svgIdea.src}
            width="60"
            alt="idea"
            class="absolute top-16 -left-3 z-10"
          />
          <img
            src={svgString.src}
            width="50"
            alt="string"
            class="absolute -top-6 -right-2 z-10"
          />

          <div id="me" class="w-full h-[310px] border-2"></div>
          <Bars />
        </div>
      </div>
    </div>
  </div>

  <img
    src={svgPinkStar.src}
    alt="start"
    width="50"
    class="absolute -bottom-4"
  />
</section>

<style>
  #me {
    background-image: url(" /david.webp");
    background-position: top;
    background-size: cover;
  }
</style>
